<head>
	<title>Item Quantity Per Model</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/Report.css">
	<link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>
	<header>
		<div class="left">
			<div id="CompanyLogo">
				<img src="/images/Btn_Logo.png">
			</div>
			<div id="ReportLogo">
				<img src="/images/IQPM.svg">
			</div>
			<h2>Report:</h2>
			<h3>ITEM QUANTITY PER MODEL</h3>
		</div>
		<div class="right">
			<div class="Profile"></div>
		</div>
	</header>
	<hr class="line1">
	<hr class="line2">
	<div class="ReportBody">
		<h3><span id="categoryChange"></span>Item Quantity for <span id="dateChange"></span></h3>
		<div class="chart">
			<canvas id="iqpmChart"></canvas>
		</div>
	</div>
	<div>
		<table class="dataTable">
            <tr class="row"> 
                <th class="col">Id</th>
                <th class="col">Date</th>
                <th class="col">PL #</th>
                <th class="col">Customer</th>
                <th class="col">Item model</th>
                <th class="col">Description</th>
                <th class="col">Quantity</th>
                <th class="col">UOM</th>
                <th class="col">PullOutBy</th>
                <th class="col">Category 1</th>
                <th class="col">Category 2</th>
                <th class="col">SerialNumber</th>
                <th class="col">JobOrderNumber</th>
                <th class="col">DateStarted</th>
                <th class="col">DateFinished</th>
                <th class="col">Technician 1</th>
                <th class="col">Technician 2</th>
                <th class="col">Item Status</th>
                <th class="col">Delivery Status</th>
                <th class="col">Remarks</th>
                <th class="col">Cost</th>
                <th class="col">Return Form Number</th>
                <th class="col">Date Returned</th>
                <th class="col">Status</th>
                <th class="col">Defect</th>
            </tr>
		</table>
	</div>
	<footer>
		<a href="/home">Generate Another Report</a>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script>
		const repairItemModel = "{{repairItemModel}}".split(",");
		const repairTalliedQuantities = [{{repairTalliedQuantities}}];
		console.log("itemModels = " + repairItemModel[0])
		const iqpmchart = document.querySelector('#iqpmChart').getContext("2d");

		const dateFormat = "{{date}}";
		const quart = "{{quart}}";
		const categoryName = "{{category}}";
		
		console.log("date = " + dateFormat);

		const labels = repairItemModel;
		const data = {
			labels,
			datasets: [
				{
					data: repairTalliedQuantities,
					label: "PC/S",
					fill: true,
					backgroundColor: "#FFD26F"
				},
			],
		};
		
		const config = {
			type: "bar",
			data: data,
			options: {
				responsive: true,
			},
		};
		
		const chart = new Chart(iqpmchart, config);
	
		$(document).ready(function(){
			//$('#dateChange').text(changedDate);
			if(quart != ""){
				$('#dateChange').text(quart + " Quarter of " + dateFormat);
			}else{
				$('#dateChange').text(dateFormat);
			}
			if(categoryName != ""){
				console.log(categoryName)
				$('#categoryChange').text(categoryName + " ");
			}
		});
			
	</script>
</body>