<head>
	<title>Top Defects Per Model</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/Report.css">
</head>
<body>
	<header>
		<div class="left">
			<div id="CompanyLogo">
				<img src="/images/Btn_Logo.png">
			</div>
			<div id="ReportLogo">
				<img src="/images/IQPMLogo.png">
			</div>
			<h2>Report:</h2>
			<h3>TOP DEFECTS PER MODEL</h3>
		</div>
		<div class="right">
			<div class="Profile"></div>
		</div>
	</header>
	<hr class="line1">
	<hr class="line2">
	<div class="ReportBody">
		<h3>Top defects <span id="categoryChange"></span><span id="dateChange"></span></h3>
		<div class="chart">
			<canvas id="tdpmChart"></canvas>
		</div>
	</div>
	<footer>
		<a href="/home">Generate Another Report</a>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

	<script>
		const repairItemModel = "{{repairItemModel}}".split(",");
		const repairDefect = "{{repairDefect}}".split(",");

		const cleaned = "{{repairTalliedQuantities}}".split("],[");
		const cleaned2 = cleaned[0].replace(/&quot;/g,"\"");
		const cleaned3 = cleaned2.replace(/[\[\]]/g,"");
		const cleaned4 = cleaned3.replaceAll("},","}+");
		const cleaned5 = cleaned4.split("+");

		//const test = [];
		const start = 0;
		const repairTalliedQuantities = [];
		for(i=0; i<cleaned5.length; i++){
			repairTalliedQuantities[i] = JSON.parse(cleaned5[i]);
			//console.log(repairTalliedQuantities[i].repairDefect);
		}

		//const test2 = test.join("")

		//console.log(JSON.parse(test2));
		//console.log();
		//console.log(test[0].repairDefect);

		console.log("itemModels = " + repairItemModel[0])
		const tdpmchart = document.querySelector('#tdpmChart').getContext("2d");

		const dateFormat = new Date("{{date}}");
		const categoryName = "{{category}}";
		const itemName = "{{item}}";

		const itemArrLength = repairItemModel.length;
		const defectArrLength = repairDefect.length;

		const changedDate = moment(dateFormat).format('MMMM YYYY');
		console.log("date = " + changedDate);

		let labelList=[];
		let valueList=[];
		
		let found = false;
		let count = 0;

		for(i=0; i<repairTalliedQuantities.length;i++){
			for(j=0; j<labelList.length; j++){
				if(repairTalliedQuantities[i].repairDefect == labelList[j]){
					found = true;
				}
			}
			count++;
			if(count==1 && found == false){
				labelList[i]=repairTalliedQuantities[i].repairDefect;
			}

			found=false;
			count=0;
		}

		console.log(labelList);

		for(i=0; i<labelList.length;i++){
			valueList[i]=0;
			for(j=0; j<repairTalliedQuantities.length; j++){
				if(labelList[i]==repairTalliedQuantities[j].repairDefect){
					valueList[i]=valueList[i]+repairTalliedQuantities[j].repairDefectQuantity;
				}
			}
		}

		console.log(valueList);

		const labels = labelList;
		const data = {
			labels,
			datasets: [
				{
					data: valueList,
					label: "PC/S",
					fill: true,
					backgroundColor: "#FFD26F"
				},
			],
		};

		const config = {
			type: "bar",
			data: data,
			options: {
				responsive: true,
			},
		};

		const chart = new Chart(tdpmchart, config);

		$(document).ready(function(){
  			$('#dateChange').text("for " + changedDate);
			if(categoryName != ""){
				console.log(categoryName)
				$('#categoryChange').text("for " + categoryName + " ");
			}else{
				console.log(categoryName)
				$('#categoryChange').text("for " + itemName + " ");
			}
		});
	</script>
</body>