<head>
	<title>Total Item Quantity Per Technician</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/Report.css">
</head>
<body>
	<header>
		<div class="left">
			<div id="CompanyLogo">
				<img src="/images/Btn_Logo.png">
			</div>
			<div id="ReportLogo">
				<img src="/images/IQPM.svg">
			</div>
			<h2>Report:</h2>
			<h3>TOTAL ITEM QUANTITY PER TECHNICIAN</h3>
		</div>
		<div class="right">
			<div class="Profile"></div>
		</div>
	</header>
	<hr class="line1">
	<hr class="line2">
	<div class="ReportBody">
		<h3>Total Item Quantity<span id="technicianChange"></span><span id="dateChange"></span></h3>
		<div class="chart">
			<canvas id="tiqptChart"></canvas>
		</div>
			<div>
			<table class="dataTable">
				<tr class="row"> 
					<th class="col">Item Model</th>
					<th class="col"> <span class="dateChange"></span></th>			
				</tr>
				{{#each distinctArray as | qty index|}}
						{{#if (lookup ../repairTalliedQuantities @index)}}
							<tr>
								<td>{{qty}}</td>
								<td>{{lookup ../repairTalliedQuantities @index}}</td>
							</tr>
						{{/if}}
				{{/each}}
				{{#if notDefault}}				
					<tr>
						<td>{{repairTechnician}}</td>
						<td>{{repairTalliedQuantities}}</td>
					</tr>
				{{/if}}
			</table>
		</div>
		<div>
		<footer>
			<button onclick="window.print()">Export</button>
			<a href="/home">Generate Another Report</a>
		</footer>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script>
		const repairTechnician = "{{repairTechnician}}".split(",");
		const repairTechnician1 = "{{repairTechnician1}}".split(",");
		const repairTechnician2 = "{{repairTechnician2}}".split(",");
		const repairTalliedQuantities = [{{repairTalliedQuantities}}];
		//console.log("itemModels = " + repairItemModel[0])
		const tiqptChart = document.querySelector('#tiqptChart').getContext("2d");

		const dateFormat = "{{date}}";
		const quart = "{{quart}}";
		//const categoryName = "{{category}}";

		//const changedDate = moment(dateFormat).format('MMMM YYYY')
		console.log("date = " + dateFormat)

		console.log(repairTechnician);
		console.log(repairTechnician1);

		var technicianList = repairTechnician1.concat(repairTechnician2);

		let list=[];
		
		let found = false;
		let count = 0;

		var labels;

		if(repairTechnician == ""){
			for(i=0; i<technicianList.length;i++){
				for(j=0; j<list.length; j++){
					if(technicianList[i] == list[j]){
						found = true;
					}
				}
				count++;
				if(count==1 && found == false){
					list[i]=technicianList[i];
				}

				found=false;
				count=0;
			}

			console.log(list);

			labels = list;
		}else{
			labels = repairTechnician;
		}
	
		const data = {
			labels,
			datasets: [
				{
					data: repairTalliedQuantities,
					label: "PC/S",
					fill: true,
					backgroundColor: "#FFD26F"
				},
			],
		};
		
		const config = {
			type: "bar",
			data: data,
			options: {
				responsive: true,
			},
		};
		
		const chart = new Chart(tiqptChart, config);

		
		$(document).ready(function(){
  			if(quart != ""){
				$('#dateChange').text("for " + quart + " Quarter of " + dateFormat);
			}else{
				$('#dateChange').text("for " + dateFormat);
			}
			if(repairTechnician != ""){
				console.log(repairTechnician)
				$('#technicianChange').text("of " + repairTechnician + " ");
			}
		});
			
	</script>
</body>